@import 'vars.scss';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
html {
  overflow: hidden;
}

body {
  width: $app_width;
  height: $app_height;
  overflow: hidden;
  background: white;
}
// #video{
//   display: block;
//   z-index: 99;
// }
/* APP */
/******************************************/
#app {
  position:fixed;
  z-index: 96;
  top:0;
  left:0;
  width: $app_width;
  height: $app_height;
  color: #EFE6FE;
  overflow: hidden;
  background-color: transparent;
  &.stopped{
    background: $bg_mabb_url;
  }
  &.loading{
    background-color: #CCCCCC;
  }
  &.loaded{
    background-color: transparent;
  }
}
#loader{
  display: none;
  width: $loader_width;
  height: $loader_height;
  position: absolute;
  left: $app_width/2 - $loader_width/2;
  top: $app_height/2- $loader_height/2;
  position: absolute;
  background: $loader no-repeat 0px 0px;
  &.pos1{
    background-position: 0px -25px;
  }
  &.pos2{
    background-position: 0px -50px;
  }
  &.pos3{
    background-position: 0px -75px;
  }
  &.pos4{
    background-position: 0px -100px;
  }
}
#big_pause_button{
  background: $btn_big_pause;
  width: 82px;
  height: 82px;
  left: ($app_width/2 - 80px/2);
  top: ($app_height/2 - 80px/2);
  position: absolute;
  display: none;
  &.paused{
      display: block;
  }
}

/* COMMON STYLING */
/******************************************/
.backboneTemplate {
  display: none;
}

#Console {
  z-index: 99;
  position: absolute;
  line-height: 21px;
  width: 500px;
  height: auto;
  bottom: 20px;
  right: 30px;
  color: white;
  background-color: #000;
  opacity: .5;
  color: #fff;
  overflow: hidden;
  display: none;
}
#WidgetBody.dev #Console{
  display: none;
}
#version_info{
  display: none;
}
#WidgetBody.dev #version_info{
  position: absolute;
  color: #FFFFFF;
  background-color: #000000;
  height: 16px;
  top: $app_height - 45px;
  bottom: 5px;
  left: 65px;
  font-size: 12px;
  #buildtimeago {
    color: yellow;
    font-size: 10px;
  }
  #environment_type{
    text-transform: uppercase;
    color: green;
  }
  #branch_name{
    color: yellow;
    font-size: 11px;
  }
}

